@import "bootstrap/dist/css/bootstrap.min.css";

body{
    
    background: linear-gradient(rgb(132, 0, 255),rgb(12, 25, 209));
    background-attachment: fixed;
}
.excuse{
    font-weight: 800;
    font-size: 80px;
}